# 1. Series

## 1. Series (List & Tuple)

In [ ]:
import pandas as pd
data_ls = [10,20,'kong',15.05,'มะละกอ']     #list
data_tp = (10,20,'kong',15.05,'มะละกอ')     #tuple

ps_ls = pd.Series(data_ls)      # ps = pandas series
ps_tp = pd.Series(data_tp)

# consist index and value
print(ps_ls)    
print("=============================================")
print(ps_tp)

0        10
1        20
2      kong
3     15.05
4    มะละกอ
dtype: object
=============================================
0        10
1        20
2      kong
3     15.05
4    มะละกอ
dtype: object

## 2. Series (Numpy)

In [2]:
import pandas as pd
import numpy as np
ndata = np.array([10,20,'kong',15.05,'มะละกอ'])
ps_arr = pd.Series(ndata)

print(ps_arr)

0        10
1        20
2      kong
3     15.05
4    มะละกอ
dtype: object

## 3. Series (Indicate index)

In [6]:
import pandas as pd
items = ['มะม่วง','กล้วย','องุ่น']
idx = [50,20,30]

ps = pd.Series(items, index=idx)
print(ps)

50    มะม่วง
20     กล้วย
30     องุ่น
dtype: object

## 4. Series (Dictionary)

In [8]:
import pandas as pd
color = {"green":"เขียว", "red":"แดง", "orange":"ส้ม", "yellow":"เหลือง"}
age = {"John":50,"Somchai":25,"Somsak":40}

ps1 = pd.Series(color)
ps2 = pd.Series(age)

print(ps1)
print("=============================================")
print(ps2)

green      เขียว
red          แดง
orange       ส้ม
yellow    เหลือง
dtype: object
=============================================
John       50
Somchai    25
Somsak     40
dtype: int64

## 5. Access to data in Series (refer to index)

In [10]:
import pandas as pd
data = [10,20,30,40]

a = pd.Series(data)
print(a[1])         # index 1 : 20

20

In [13]:
import pandas as pd
color = {"red":"แดง","yellow":"เหลือง","pink":"ชมพู"}

b = pd.Series(color)
print(b["yellow"])         # key yellow : เหลือง

เหลือง

# 2. DataFrame

## 1. DataFrame (List & Tuple)

In [29]:
import pandas as pd
datas1 = [10,20,30,40,50]       #list
datas2 = (59,60,25,32)          #tuple           
df1 = pd.DataFrame(datas1, columns=['age']) #columns header
df2 = pd.DataFrame(datas2)

display(df1)
print("=============================================")
display(df2)

   age
0   10
1   20
2   30
3   40
4   50

=============================================

    0
0  59
1  60
2  25
3  32

## 2. DataFrame (List n dims -> List in List)

In [32]:
# input data row (transaction) form
# output data row (transaction) form
import pandas as pd
datas = [ ['คีย์บอร์ด','IT',4000], ['ตุ๊กตา','ของเล่น',500], ['เมาส์','IT',300] ]

df = pd.DataFrame(datas, columns=['ชื่อสินค้า', 'หมวดหมู่', 'ราคา'])
display(df)

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300

## 3. DataFrame (List n dims -> zip)

In [34]:
# input data row (transaction) form
# output data column form
import pandas as pd
product1 = ['คีย์บอร์ด','ตุ๊กตา','เมาส์']
product2 = ['IT','ของเล่น','IT']
product3 = [4000,500,300]

datas = list(zip(product1,product2,product3))

df = pd.DataFrame(datas, columns=['ชื่อสินค้า', 'หมวดหมู่', 'ราคา'])
display(df)

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300

## 4. DataFrame (Dictionary - Dic in List)

In [ ]:
# input data row (transaction) form
# output data row (transaction) form
import pandas as pd
products = [{'Name':'คีย์บอร์ด', 'Category':'อุปกรณ์คอม', 'Price':500},
            {'Name':'เมาส์', 'Category':'อุปกรณ์คอม', 'Price':300},
            {'Name':'ตุ๊กตา', 'Category':'ของเล่น', 'Price':700}]

df = pd.DataFrame(products)
display(df)
print("=============================================")

df2 = df.set_index(["Name"])    # set index (once times)
display(df2)
# if you want to change permanent for df -> df.set_index(["Name"], inplace = True)

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม    500
1      เมาส์  อุปกรณ์คอม    300
2     ตุ๊กตา     ของเล่น    700

=============================================

             Category  Price
Name
คีย์บอร์ด  อุปกรณ์คอม    500
เมาส์      อุปกรณ์คอม    300
ตุ๊กตา        ของเล่น    700

## 5. DataFrame (Series)

In [4]:
# input data column form
# output data column form

import pandas as pd
# product data
name = ["คีย์บอร์ด","เมาส์","ตุ๊กตา"]
category = ['อุปกรณ์คอม','อุปกรณ์คอม','ของเล่น']
price = [500, 300, 700]

# series
name_series = pd.Series(name)
category_series = pd.Series(category)
price_series = pd.Series(price)

frame = {"ชื่อสินค้า": name_series,"หมวดหมู่" : category_series,"ราคา" : price_series}

df = pd.DataFrame(frame)
display(df)

  ชื่อสินค้า    หมวดหมู่  ราคา
0  คีย์บอร์ด  อุปกรณ์คอม   500
1      เมาส์  อุปกรณ์คอม   300
2     ตุ๊กตา     ของเล่น   700

## 6. DataFrame for file (csv)

### 1. Export to csv

Attribute <br>
- header : (Default:True)
- index : (Default:True)

In [6]:
# input data column form
# output data column form

import pandas as pd
# product data
name = ["คีย์บอร์ด","เมาส์","ตุ๊กตา"]
category = ['อุปกรณ์คอม','อุปกรณ์คอม','ของเล่น']
price = [500, 300, 700]

# series
name_series = pd.Series(name)
category_series = pd.Series(category)
price_series = pd.Series(price)

frame = {"ชื่อสินค้า": name_series,"หมวดหมู่" : category_series,"ราคา" : price_series}

df = pd.DataFrame(frame)
display(df)

df.to_csv(r'ExportFile\products.csv', index=False)

  ชื่อสินค้า    หมวดหมู่  ราคา
0  คีย์บอร์ด  อุปกรณ์คอม   500
1      เมาส์  อุปกรณ์คอม   300
2     ตุ๊กตา     ของเล่น   700

### 2. Read file from csv

parameter <br>

<pre>
- `encoding='utf-8'`
- `usecols = [...] `      -> <span style="color:red;">use for select some column(s)</span>
- `index_col = "..."`     -> <span style="color:red;">set index from selected</span>
- `names = "..."`        -> <span style="color:red;">indicate header name : (DataFrame use: columns=[...])</span>
</pre>

In [9]:
import pandas as pd

file = pd.read_csv(r'ExportFile\products.csv', encoding='utf-8')
display(file)

  ชื่อสินค้า    หมวดหมู่  ราคา
0  คีย์บอร์ด  อุปกรณ์คอม   500
1      เมาส์  อุปกรณ์คอม   300
2     ตุ๊กตา     ของเล่น   700

In [15]:
# usecols
# index_col
import pandas as pd

file = pd.read_csv(r'ExportFile\products.csv', encoding='utf-8', usecols=['ชื่อสินค้า', 'ราคา'])
display(file)
print("=============================================")
file = pd.read_csv(r'ExportFile\products.csv', encoding='utf-8', usecols=['ชื่อสินค้า', 'ราคา'], index_col='ชื่อสินค้า')
display(file)
# index_col='ชื่อสินค้า' == file.set_index('ชื่อสินค้า')

  ชื่อสินค้า  ราคา
0  คีย์บอร์ด   500
1      เมาส์   300
2     ตุ๊กตา   700

=============================================

            ราคา
ชื่อสินค้า
คีย์บอร์ด    500
เมาส์        300
ตุ๊กตา       700

In [ ]:
# names
file = pd.read_csv(r'ExportFile\products.csv', encoding='utf-8', names=['Name', 'Cate', 'Price'])
display(file)

# names=['Name', 'Cate', 'Price'] == columns = ['Name', 'Cate', 'Price']

# datas1 = [10,20,30,40,50]
# df1 = pd.DataFrame(datas1, columns=['age'])

         Name        Cate Price
0  ชื่อสินค้า    หมวดหมู่  ราคา
1   คีย์บอร์ด  อุปกรณ์คอม   500
2       เมาส์  อุปกรณ์คอม   300
3      ตุ๊กตา     ของเล่น   700

## 7. DataFrame for file (Excel)

- `pip install xlrd`

In [29]:
import pandas as pd

df = pd.read_excel(r"ExportFile\dataupdate.xlsx",'weather')     # indicate sheets = 'weather'ExportFile
display(df.head(5))
print("=============================================")
df2 = pd.read_excel(r"ExportFile\dataupdate.xlsx",'weather', index_col='Day')
# df2 = pd.read_excel(r"ExportFile\dataupdate.xlsx",'weather')
# df2.set_index('Day', inplace=True)
display(df2.head(5))

         Day  Temperature  WindSpeed    Event
0 2020-12-01           30          9  แดดร้อน
1 2020-12-02           28          8   เมฆมาก
2 2020-12-03           27          4     ฝนตก
3 2020-12-04           19          3  แดดร้อน
4 2020-12-05           20          5   เมฆมาก

=============================================

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก

## 8. Verify data in DataFrame

<pre>
- head()        => <span style="color:red;">read the first 5 rows of data.</span>
- head(n)       => <span style="color:red;">read the first n rows of data.</span>
- tail()        => <span style="color:red;">read the last 5 rows of data.</span>
- tail(n)       => <span style="color:red;">read the last n rows of data.</span>
- sample(n)     => <span style="color:red;">sample n rows of data</span>
- describe(n)   => <span style="color:red;">statistic such as min-max mean etc.</span>
- shape         => <span style="color:red;">count rows/cols such as (20,4) = 20 rows / 4 cols</span>
- columns       => <span style="color:red;">Check what columns are present</span>
- values        => <span style="color:red;">read data array form</span>
</pre>

In [56]:
import pandas as pd

df = pd.read_excel(r'ExportFile\dataupdate.xlsx','weather')
print(f"data have {df.shape[0]} rows and {df.shape[1]} cols => {df.shape}")
print("=============================================")
display(df.head(3))
print("=============================================")
display(df.describe())

data have 30 rows and 4 cols => (30, 4)
=============================================

         Day  Temperature  WindSpeed    Event
0 2020-12-01           30          9  แดดร้อน
1 2020-12-02           28          8   เมฆมาก
2 2020-12-03           27          4     ฝนตก

=============================================

                       Day  Temperature  WindSpeed
count                   30    30.000000  30.000000
mean   2020-12-15 12:00:00    27.433333   5.066667
min    2020-12-01 00:00:00    17.000000   1.000000
25%    2020-12-08 06:00:00    25.000000   4.000000
50%    2020-12-15 12:00:00    28.000000   5.000000
75%    2020-12-22 18:00:00    30.000000   6.750000
max    2020-12-30 00:00:00    38.000000   9.000000
std                    NaN     5.237026   2.288402

In [60]:
import pandas as pd

df = pd.read_excel(r'ExportFile\dataupdate.xlsx','weather')
display(df.columns)
print("=============================================")
display(df.values)

Index(['Day', 'Temperature', 'WindSpeed', 'Event'], dtype='object')

=============================================

array([[Timestamp('2020-12-01 00:00:00'), 30, 9, 'แดดร้อน'],
       [Timestamp('2020-12-02 00:00:00'), 28, 8, 'เมฆมาก'],
       [Timestamp('2020-12-03 00:00:00'), 27, 4, 'ฝนตก'],
       [Timestamp('2020-12-04 00:00:00'), 19, 3, 'แดดร้อน'],
       [Timestamp('2020-12-05 00:00:00'), 20, 5, 'เมฆมาก'],
       [Timestamp('2020-12-06 00:00:00'), 25, 6, 'ฝนตก'],
       [Timestamp('2020-12-07 00:00:00'), 36, 4, 'ฝนตก'],
       [Timestamp('2020-12-08 00:00:00'), 28, 6, 'ฝนตก'],
       [Timestamp('2020-12-09 00:00:00'), 17, 5, 'เมฆมาก'],
       [Timestamp('2020-12-10 00:00:00'), 24, 6, 'แดดร้อน'],
       [Timestamp('2020-12-11 00:00:00'), 26, 4, 'ฝนตก'],
       [Timestamp('2020-12-12 00:00:00'), 27, 9, 'แดดร้อน'],
       [Timestamp('2020-12-13 00:00:00'), 30, 2, 'แดดร้อน'],
       [Timestamp('2020-12-14 00:00:00'), 31, 5, 'เมฆมาก'],
       [Timestamp('2020-12-15 00:00:00'), 28, 4, 'แดดร้อน'],
       [Timestamp('2020-12-16 00:00:00'), 27, 7, 'แดดร้อน'],
       [Timestamp('2020-12-17 00:00:00'), 20, 8, 'ฝนตก'],
       [Timestamp('2020-12-18 00:00:00'), 18, 5, 'ฝนตก'],
       [Timestamp('2020-12-19 00:00:00'), 25, 7, 'แดดร้อน'],
       [Timestamp('2020-12-20 00:00:00'), 28, 4, 'เมฆมาก'],
       [Timestamp('2020-12-21 00:00:00'), 25, 5, 'เมฆมาก'],
       [Timestamp('2020-12-22 00:00:00'), 38, 2, 'เมฆมาก'],
       [Timestamp('2020-12-23 00:00:00'), 34, 3, 'ฝนตก'],
       [Timestamp('2020-12-24 00:00:00'), 29, 4, 'ฝนตก'],
       [Timestamp('2020-12-25 00:00:00'), 34, 5, 'แดดร้อน'],
       [Timestamp('2020-12-26 00:00:00'), 25, 8, 'ฝนตก'],
       [Timestamp('2020-12-27 00:00:00'), 28, 9, 'เมฆมาก'],
       [Timestamp('2020-12-28 00:00:00'), 30, 2, 'เมฆมาก'],
       [Timestamp('2020-12-29 00:00:00'), 31, 1, 'ฝนตก'],
       [Timestamp('2020-12-30 00:00:00'), 35, 2, 'ฝนตก']], dtype=object)

## 9. Statistic for DataFrame

<pre>
- mean()
- max()
- min()
- count()
- std()
- sum()
- astype('...')         => <span style="color:red;">Change data type</span>
- dtypes
</pre>

In [75]:
import pandas as pd

df = pd.read_excel(r'ExportFile\dataupdate.xlsx', 'score', index_col='Name')
print(f'mean : {df.Score.mean()}')
print(f'max : {df.Score.max()}')
print(f'min : {df.Score.min()}')
print(f'count : {df.Score.count()}')
print(f'std : {df.Score.std()}')
print(f'sum : {df.Score.sum()}')

mean : 72.44444444444444
max : 95
min : 45
count : 9
std : 17.95209675157133
sum : 652

In [76]:
df.dtypes

Score      int64
Age        int64
Gender    object
Grade     object
dtype: object

In [78]:
# Change data type with .astype()
df.Grade = df.Grade.astype('category')
df.dtypes

Score        int64
Age          int64
Gender      object
Grade     category
dtype: object

## 10. Selected columns

<b>Columns</b>
- df.<span style="color:brown;">columnsName</span> <br>
- df[<span style="color:brown;">columnsName</span>] <br>

<b>Range</b>
- df.<span style="color:brown;">columnsName</span>.[...]

In [ ]:
# df.<columnsName>
import pandas as pd

df = pd.read_excel(r'ExportFile\dataupdate.xlsx', 'weather', index_col="Day")
print(df.Temperature)
# print(df['Temperature'])

Day
2020-12-01    30
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
2020-12-07    36
2020-12-08    28
2020-12-09    17
2020-12-10    24
2020-12-11    26
2020-12-12    27
2020-12-13    30
2020-12-14    31
2020-12-15    28
2020-12-16    27
2020-12-17    20
2020-12-18    18
2020-12-19    25
2020-12-20    28
2020-12-21    25
2020-12-22    38
2020-12-23    34
2020-12-24    29
2020-12-25    34
2020-12-26    25
2020-12-27    28
2020-12-28    30
2020-12-29    31
2020-12-30    35
Name: Temperature, dtype: int64

In [ ]:
# df.<columnsName>.[...]
import pandas as pd
df = pd.read_excel(r'ExportFile\dataupdate.xlsx', 'weather', index_col="Day")
print(df[['Temperature','Event']][1:6])      # index = 1-5 => row = 2-6

            Temperature    Event
Day
2020-12-02           28   เมฆมาก
2020-12-03           27     ฝนตก
2020-12-04           19  แดดร้อน
2020-12-05           20   เมฆมาก
2020-12-06           25     ฝนตก

## 11. Selected rows

In [101]:
import pandas as pd

df = pd.read_excel(r'ExportFile\dataupdate.xlsx', 'weather', index_col="Day")
display(df[1:4])        # index = 1-3 => row = 2-4
print("=============================================")
display(df[1:4]['WindSpeed'])
# display(df['WindSpeed'][1:4])

            Temperature  WindSpeed    Event
Day
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน

=============================================

Day
2020-12-02    8
2020-12-03    4
2020-12-04    3
Name: WindSpeed, dtype: int64

In [118]:
# df.loc[ช่วงแถว,ช่วงหลัก]
# df.loc[[แถว], [หลัก]]
import pandas as pd

df = pd.read_excel(r'ExportFile\dataupdate.xlsx', 'weather', index_col="Day")
df.loc['2020-12-02':'2020-12-07', ['Event','Temperature']]
# df.loc[['2020-12-02','2020-12-03','2020-12-07','2020-12-04','2020-12-05','2020-12-06','2020-12-07'], ['Event','Temperature']]

              Event  Temperature
Day
2020-12-02   เมฆมาก           28
2020-12-03     ฝนตก           27
2020-12-04  แดดร้อน           19
2020-12-05   เมฆมาก           20
2020-12-06     ฝนตก           25
2020-12-07     ฝนตก           36

## 12. Finding data with Match & Contains

<pre>
- matching(string)      => <span style="color:red;">find the world start from the first string</span>
- contains(string)      => <span style="color:red;">find the world wildcard</span>
</pre>

In [128]:
import pandas as pd

df = pd.read_excel(r'ExportFile\dataupdate.xlsx', 'weather', index_col='Day')

display(df['Event'].str.match('ฝนตก'))                      # match => true, not match => false
print("=============================================")
display(df[df['Event'].str.match('ฝนตก')])                  # filter match = true only
# display(df[df['Event'].str.match('ฝน')])                  # filter match = true only (start with 'ฝน')

Day
2020-12-01    False
2020-12-02    False
2020-12-03     True
2020-12-04    False
2020-12-05    False
2020-12-06     True
2020-12-07     True
2020-12-08     True
2020-12-09    False
2020-12-10    False
2020-12-11     True
2020-12-12    False
2020-12-13    False
2020-12-14    False
2020-12-15    False
2020-12-16    False
2020-12-17     True
2020-12-18     True
2020-12-19    False
2020-12-20    False
2020-12-21    False
2020-12-22    False
2020-12-23     True
2020-12-24     True
2020-12-25    False
2020-12-26     True
2020-12-27    False
2020-12-28    False
2020-12-29     True
2020-12-30     True
Name: Event, dtype: bool

=============================================

            Temperature  WindSpeed Event
Day
2020-12-03           27          4  ฝนตก
2020-12-06           25          6  ฝนตก
2020-12-07           36          4  ฝนตก
2020-12-08           28          6  ฝนตก
2020-12-11           26          4  ฝนตก
2020-12-17           20          8  ฝนตก
2020-12-18           18          5  ฝนตก
2020-12-23           34          3  ฝนตก
2020-12-24           29          4  ฝนตก
2020-12-26           25          8  ฝนตก
2020-12-29           31          1  ฝนตก
2020-12-30           35          2  ฝนตก