# 1. Series

## 1. Series (List & Tuple)

In [ ]:
import pandas as pd
data_ls = [10,20,'kong',15.05,'มะละกอ']     #list
data_tp = (10,20,'kong',15.05,'มะละกอ')     #tuple

ps_ls = pd.Series(data_ls)      # ps = pandas series
ps_tp = pd.Series(data_tp)

# consist index and value
print(ps_ls)    
print("=============================================")
print(ps_tp)

0        10
1        20
2      kong
3     15.05
4    มะละกอ
dtype: object
=============================================
0        10
1        20
2      kong
3     15.05
4    มะละกอ
dtype: object

## 2. Series (Numpy)

In [2]:
import pandas as pd
import numpy as np
ndata = np.array([10,20,'kong',15.05,'มะละกอ'])
ps_arr = pd.Series(ndata)

print(ps_arr)

0        10
1        20
2      kong
3     15.05
4    มะละกอ
dtype: object

## 3. Series (Indicate index)

In [6]:
import pandas as pd
items = ['มะม่วง','กล้วย','องุ่น']
idx = [50,20,30]

ps = pd.Series(items, index=idx)
print(ps)

50    มะม่วง
20     กล้วย
30     องุ่น
dtype: object

## 4. Series (Dictionary)

In [8]:
import pandas as pd
color = {"green":"เขียว", "red":"แดง", "orange":"ส้ม", "yellow":"เหลือง"}
age = {"John":50,"Somchai":25,"Somsak":40}

ps1 = pd.Series(color)
ps2 = pd.Series(age)

print(ps1)
print("=============================================")
print(ps2)

green      เขียว
red          แดง
orange       ส้ม
yellow    เหลือง
dtype: object
=============================================
John       50
Somchai    25
Somsak     40
dtype: int64

## 5. Access to data in Series (refer to index)

In [ ]:
import pandas as pd
data = [10,20,30,40]

a = pd.Series(data)
print(a[1])         # index 1 : 20

20

In [ ]:
import pandas as pd
color = {"red":"แดง","yellow":"เหลือง","pink":"ชมพู"}

b = pd.Series(color)
print(b["yellow"])         # key yellow : เหลือง

เหลือง

# 2. DataFramde

## 1. DataFrame (List & Tuple)

In [29]:
import pandas as pd
datas1 = [10,20,30,40,50]       #list
datas2 = (59,60,25,32)          #tuple           
df1 = pd.DataFrame(datas1, columns=['age']) #columns header
df2 = pd.DataFrame(datas2)

display(df1)
print("=============================================")
display(df2)

   age
0   10
1   20
2   30
3   40
4   50

=============================================

    0
0  59
1  60
2  25
3  32

## 2. DataFrame (List n dims -> List in List)

In [ ]:
# input data row (transaction) form
# output data row (transaction) form
import pandas as pd
datas = [ ['คีย์บอร์ด','IT',4000], ['ตุ๊กตา','ของเล่น',500], ['เมาส์','IT',300] ]

df = pd.DataFrame(datas, columns=['ชื่อสินค้า', 'หมวดหมู่', 'ราคา'])
display(df)

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300

## 3. DataFrame (List n dims -> zip)

In [ ]:
# input data row (transaction) form
# output data column form
import pandas as pd
product1 = ['คีย์บอร์ด','ตุ๊กตา','เมาส์']
product2 = ['IT','ของเล่น','IT']
product3 = [4000,500,300]

datas = list(zip(product1,product2,product3))

df = pd.DataFrame(datas, columns=['ชื่อสินค้า', 'หมวดหมู่', 'ราคา'])
display(df)

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300

## 4. DataFrame (Dictionary - Dic in List)

In [ ]:
# input data row (transaction) form
# output data row (transaction) form
import pandas as pd
products = [{'Name':'คีย์บอร์ด', 'Category':'อุปกรณ์คอม', 'Price':500},
            {'Name':'เมาส์', 'Category':'อุปกรณ์คอม', 'Price':300},
            {'Name':'ตุ๊กตา', 'Category':'ของเล่น', 'Price':700}]

df = pd.DataFrame(products)
display(df)

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม    500
1      เมาส์  อุปกรณ์คอม    300
2     ตุ๊กตา     ของเล่น    700